.link{
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: black;
    width: 25%;
}
/* .link1{
    margin-right: 250px;
    width: 75px;
}
.link2{
    margin-bottom: 100px;
} */
.link4{
    width:25%;
}